.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.leftAnchor{
    -fx-background-color: linear-gradient(to top right, #2A5CAA,#4B8DF8);
}

.centerAnchor{
    -fx-background-color: #F5F5F5;
}

.topPane{
    -fx-background-color: #E0E0E0;
}

.textfield-1{
    -fx-border-color: #333;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
}

.textfield-1:focused{
    -fx-border-color: linear-gradient(to bottom right, #2A5CAA,#4B8DF8);
    -fx-border-width: 1px;
}

.topPaneText{
    -fx-font-size: 18px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.btn-1{
    -fx-background-color: #fff;
    -fx-cursor: hand;
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-border-color: #2A5CAA;
}

.btn-1:hover{
    -fx-background-color: linear-gradient(to bottom left, #2A5CAA,#4B8DF8);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10,0,0,0);
}

.btn-2{
    -fx-background-color: #E53935;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.btn-2:hover{
    -fx-background-color: linear-gradient(to bottom left, #E53935 ,#FF0000);
}


.ba-color-1{
    -fx-background-color: linear-gradient(to bottom right, #2A5CAA,#4B8DF8);
}

.ba-color-2{
    -fx-background-color: #E53935;
}

.font{
    -fx-fill: #2A5CAA;
}


.border{
    -fx-border-color: #2A5CAA;
    -fx-border-width: .8px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}